<h2>Por país</h2>
<hr>

<div class="row">
    <div class="col">
        <!-- SearchBox -->
        <shared-search-box
            (onDebounce)="searchByCountry($event)"
            [initialValue] = "initialValue"
            placeholder="Buscar por país">
        </shared-search-box>
    </div>
</div>

<div class="row">
    <div class="col">
        <hr>
        <!-- Tabla de resultados -->
        <!-- <ul>
            <li *ngFor="let country of countries">
                {{ country.capital }} - {{ country.population }}
            </li>
        </ul> -->
        <countries-table [countries]="countries"></countries-table>
    </div>
</div>
